*{
    margin: 0%;
    padding: 0%;
}

header{
    background-color: bisque;
    text-align: center;
}

nav{
    display: block;
    text-align: center;
    background-color: bisque;
    text-transform: capitalize;
    color: white;
}

li{
    display: inline-block;
    border: 10px;
}

a{
    text-decoration: none;
}
